<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    

<center>
    <div class="card card-body col-md-7">
        <h4>Registre su nuevo usuario</h4>
        <form action="/Agregar_usuario" method="POST">

           
            <div class="form-control">
                <input type="text" name="nombre" placeholder="nombre apellido" required>
            </div>
            <div class="form-control">
                <input type="text" name="nickname" placeholder="nickname" required>
            </div>
            <div class="form-control">
                <input type="password" name="password" placeholder="password" required>
            </div>
            <div class="form-control">
                <input type="password" name="conf-password" placeholder="password confirmation" required>
            </div>
            <div class="form-control">
                <input type="text/number" name="cellphone" placeholder="cellphone" min="8" max="8" required>
            </div>
            <div class="form-control">
                <input type="text" name="email" placeholder="email" required>
            </div>


            <button type="submit" class="btn btn-success btn-block">
                guardar
            </button>

            <a href="/" class="btn btn-secundary btn-block"> home </a>
        </form>
    </div>

    

</center>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>